<h2 class="4up">Population after {{years}} years</h2>
<p class="number">{{new_pop}}</p>
<h3 class="4up">Population as of 2015</h3>
<p class="number">{{pop}}</p>
<h3 class="4up">Migration Rate (per 1000 people)</h3>
<p class="number">{{mig}}</p>
<h3 class="4up">Birth Rate (per 1000 people)</h3>
<p class="number">{{bir}}</p>
<h3 class="4up">Death Rate (per 1000 people)</h3>
<p class="number">{{dea}}</p>

<footer class="keep-down">
	<super>Data provided by the <a href="https://www.cia.gov/library/publications/the-world-factbook/">CIA Factbook</a></super>
</footer>